Options -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.made-in-francophonie.net/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^www\.made-in-francophonie\.net [NC]
RewriteRule ^(.*)$ https://www.made-in-francophonie.net/$1 [R=301,L]