@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.Apropos{
    width:100%;
    height:100vh;
    background-color: rgb(0,149,199,0.5);
    color: black;
    display: flex;
    
    flex-direction: column;
    
}
.Apropos h1{
    font-family: Girassol;
}
.contenuApropos{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.boiteTexte{
    width: 42%;
    margin: 2%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 1.3em;
    text-align: left;
}
.boiteImg{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Apropos img{
   
    margin-top: 5%;
    margin-left: 5%;
    width: 50%;
   
   
}
.boiteTexte br{
    margin-bottom: 2%;
}