@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@media only screen and (min-width : 601px){
.Apropos{
    width:100%;
    height:100%;
    background-color: rgb(0,149,199,0.5);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.Apropos h1{
    font-family: Girassol;
    margin-bottom: 1%;

}
.Apropos h2{
    margin-bottom: 1%;
}
.definition{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: start;
    margin-right: 5%;
}
.definitionPerso{
    width: 50%;
    margin-bottom: 4%;
}
.contenuApropos{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.overlay {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        visibility: hidden;
}
.repartitionFrancophone{
    width: 100%;
    margin-bottom: 4%;
}
.overlay img{
    max-width: 100%;
    max-height: 100%;
    width: 98%;
    height: 98%;
    margin:2%;
  }
.overlay:target {
    visibility: visible;
    outline: none;
    cursor: default;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.boiteTexte{
    width: 70%;
    margin-right: 5%;
    margin-left: 10%;
    font-size: 1.1em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Apropos h3{
    font-size: 1em;
}
.boiteImg{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Apropos img{
    margin-left: 5%;
    width: 70%; 
}
.boiteTexte br{
    margin-bottom: 2%;
}
}
@media only screen and (max-width : 600px){
    .Apropos{
        width:100%;
        height:100%;
        background-color: rgb(0,149,199,0.5);
        color: black;
        display: flex;
        
        flex-direction: column;
        
    }
    .Apropos h1{
        font-family: Girassol;
    }
    .contenuApropos{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    .boiteTexte{
        width: 95%;
        margin: 2%;
        margin-top: 2%;
        font-size: 1.2em;
        text-align: left;
        display: flex;
        flex-direction: column;
      
    }
    .boiteImg{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Apropos img{
        width: 100%;
        margin-bottom: 2%;
    }
    .boiteTexte br{
        margin-bottom: 2%;
    }
}
