.load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.load p{
    font-size: 1.8em;
    margin:0;
}
.firstLign{
    margin-bottom: 4%;
}
.load button{
    border: inset;
    width: 10%;
    height: 5;
    margin: 5%;
}
.load img{
    width:35%;
}