@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@media only screen and (min-width : 601px){
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: auto;
    margin-bottom: 5%;
    height: 2.2vh;
    z-index: 50;
    background-color: #d8d8d8;
}

.navbarSelection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: fixed;
    align-items: center;
    font-family: Girassol;
}
.navbarSelection img{
    width: 5%;
    margin-top: 4%;
}
.navbarSelection a{
    margin:5%;
    margin-top: 5%;
    margin-bottom: 1%;
    border: unset 1px;
    border-radius: 50%;
    padding:1%;
    text-decoration: none;
    color: black;
}
.un{
    box-shadow: 3px 3px 3px #0095c7;
 
}
.un:hover{
    background-color: #0095c7;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;

}
.deux{
    box-shadow: 3px 3px 3px #ffd700;
    
}
.deux:hover{
    background-color: #ffd700;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;
}
.trois{
    box-shadow: 3px 3px 3px #079d51;
}
.trois:hover{
    background-color: #079d51;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;
}
.quatre{
    box-shadow: 3px 3px 3px #85006b;
}
.quatre:hover{
    background-color: #85006b;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;
}
.cinq{
    box-shadow: 3px 3px 3px red;
}
.cinq:hover{
    background-color: red;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;
}
.navbarMobile{
    display: none;
    }
}
@media only screen and (max-width : 600px){
    .navbarSelection{
        display: none;
    }
    .navbarMobile{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .navbarMobile a{
        margin: 3%;
        text-decoration: none;
        font-family: Girassol;
    }
}
