.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: auto;
    margin-bottom: 5%;
    height: 3vh;
    z-index: 50;
}

.navbarSelection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: fixed;
    align-items: center;
}
.navbarSelection p{
    margin:5%;
    margin-top: 5%;
    margin-bottom: 1%;
    border: unset 1px;
    border-radius: 50%;
    padding:1%;
}
.un{
    box-shadow: 3px 3px 3px #0095c7;
 
}
.un:hover{
    background-color: #0095c7;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;

}
.deux{
    box-shadow: 3px 3px 3px #ffd700;
    
}
.deux:hover{
    background-color: #ffd700;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;
}
.trois{
    box-shadow: 3px 3px 3px #079d51;
}
.trois:hover{
    background-color: #079d51;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;
}
.quatre{
    box-shadow: 3px 3px 3px #85006b;
}
.quatre:hover{
    background-color: #85006b;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;
}
.cinq{
    box-shadow: 3px 3px 3px red;
}
.cinq:hover{
    background-color: red;
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px;;
}