.projet{
    display: flex;
    flex-direction: column;
    background-color: rgb(7,157,81, 0.5);
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.title{
    font-size: 2em;
}
.projet p{
    
    margin: 2%;
    text-align: left;
}
.projeTitle{
    min-height: 2.5vh;
    height: 2.5vh;
    width: 100%;
    
}
.videoLivre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}
.projeTitle br{
    margin-bottom: 2%;
}