.realisation{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255,215,0, 0.5);
}
.title{
    font-size: 2em;
}
.defileReims{
    width: 96%;
    display: flex;
    flex-direction: row;
}
.defileParis{
    width: 96%;
    display: flex;
    flex-direction: row;
}

.video1{
    width: 100%;
    height: auto;
    margin: 2%;
    margin-top: 30%;
   
}
.video2{
    width: 100%;
    height: auto;
    margin: 2%;
    margin-bottom: 20%;
    
}
.text1{
    width: 70%;
    margin: 1%;
    text-align: left;
    margin-left: 7%;
}
.text1 br{
    margin-bottom: 2%;
}
.text2{
    width: 70%;
    margin:1%;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 7%;
}
.union{
    width: 98%;
    margin: 2%;
   
}
.overlay {
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    visibility: hidden;
  }
  
  .overlay img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin:2%;
  }
  .overlay:target {
    visibility: visible;
    outline: none;
    cursor: default;
  }
  .unionJournal{
    width: 96%;
    display: flex;
    flex-direction: row;
    
  }
  .picUnion{
      width: 17%;
      margin-right: 5%;
      
  }
  .text3{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1%;
      margin-left:7%;
  }
  .bold{
    font-weight: bold;
  }